h1 {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    color: #c0cfff;
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    margin: 0 auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}